.main {
    background-color: #232323;
    padding: 1rem;
    border-radius: 50px;
}

.main__title {
    text-align: center;
}

.main__wrapper {
    display: grid;
    padding: 30px;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.card__img {
    width: 200px;
    height: 200px;
}

.card__title {
    font-size: 1.75rem;
    background: linear-gradient(91deg, #FCECB5 6.22%, #FCE17D 94.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    mix-blend-mode: screen;
}

.card__link {
    font-size: 1.2rem;
    padding: 10px 0 10px 0;
    width: 75%;
}

.card__setting {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #303030;
}

.card__setting:hover {
    transform: scale(1.05) perspective(1px);
}

@media screen and (max-width: 856px) {
    .main__wrapper {
        grid-template-columns: 1fr;
    }
}