@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.head__title_c{
  color: rgba(88, 102, 239, 0.86);
  text-shadow: rgba(88, 102, 239, 0.86) 1px 0 5px;
}

p {
  color: white;
  font-size: 1.25rem;
}

ul {
  list-style-type: none;
}

.panel {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.app {
  min-height: 120vh;
  background-color: #303030;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 20px 0;
}

.general-bg {
  background-color: #232323;
  padding: 1rem;
  border-radius: 50px;
}